$hover: #fe3e57;
$title: #29282d;
$def: #8d8d8d;

%roboto-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

%roboto-700 {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}

%quick-400 {
  font-family: 'Quicksand-Regular', sans-serif;
  font-weight: 400;
}

%quick-500 {
  font-family: 'Quicksand-Medium', sans-serif;
  font-weight: 500;
}

%quick-700 {
  font-family: 'Quicksand-Bold', sans-serif;
  font-weight: 700;
}

%btn {
  letter-spacing: 3.2px;
  color: white;
  text-transform: uppercase;
  @extend %roboto-400;
  padding: 15px 25px;
  background-color: $hover;
  box-shadow: 0 10px 25px rgba(254, 62, 87, 0.3);
}
