@import 'vars';
@import 'fonts';
@import 'global';
@import 'libs';
@import 'reset';
@import 'media';

.header {
  padding: 40px 0;
  &__inner {
  }
  &__icon {
    margin-right: 25px;
    position: relative;
  }
  &__icon-number {
    position: absolute;
    left: 13px;
    bottom: 10px;
    border-radius: 50%;
    font-size: rem(12);
    color: white;
    width: 20px;
    height: 20px;
    background-color: #fe3e57;
    line-height: 20px;
    text-align: center;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    display: flex;
  }
  &__list-item {
    margin-right: 35px;
  }
  &__list-link {
    cursor: pointer;
    padding: 0px 2px 2px;
    color: $title;
    transition: all 0.3s;
    @extend %roboto-500;
    &:hover {
      color: $hover;
      border-bottom: 1px solid $hover;
    }
  }
  &__list-link--active {
    transition: all 0.3s;
    color: $hover;
    border-bottom: 1px solid $hover;
  }
}
.footer {
  background-color: #f6f6f6;
  @extend %quick-500;
  &__logo {
    margin-bottom: 35px;
  }
}

.footer-top {
  padding-top: 75px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  &__box-contacts {
    max-width: 240px;
    display: flex;
    flex-direction: column;
  }
  &__address {
    margin-bottom: 20px;
  }
  &__mail {
    margin-bottom: 20px;
  }
  &__tel {
    margin-bottom: 20px;
  }
  &__social {
    display: flex;
  }
  &__social-item {
    margin-right: 19px;
    & svg:hover {
      fill: $hover;
      transition: all 0.3s;
    }
  }
  &__box-links {
    max-width: 145px;
  }
  &__title,
  &__form-title {
    color: $title;
    @extend %roboto-500;
    font-size: rem(22);
    line-height: 36px;
    margin-bottom: 35px;
  }
  &__item {
    margin-bottom: 20px;
  }
  &__box-account {
    max-width: 120px;
  }
  &__form {
    max-width: 470px;
  }
  &__form-text {
    margin-bottom: 30px;
  }
}

.form {
  display: flex;
  align-items: center;
  &__input {
    margin-right: 10px;
    width: 320px;
    padding: 15px 60px 15px 17px;
    background-color: #fff;
    letter-spacing: 0.8px;
    box-shadow: 0 7px 20px rgba(192, 192, 192, 0.3);
    &::placeholder {
      color: #c7c7c7;
    }
  }
  &__btn {
    @extend %btn;
    letter-spacing: 0.8px;
  }
}
.footer-bottom {
  font-size: rem(12);
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ececec;
  &__pay {
    display: flex;
  }
  &__pay-text {
    margin-right: 25px;
  }
  &__pay-img {
    margin-right: 20px;
  }
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: $def;
  position: relative;
  opacity: 1;
  margin: 0 30px 50px 0 !important;
}

.swiper-pagination-bullet-active {
  animation: zoomIn;
  animation-duration: 1s;
  background: $hover;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid $hover;
  }
}

.top-swiper {
  background-color: #f6f6f6;
  background-image: url('../images/top-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 65px;
  padding-bottom: 44px;
  &__container {
    max-width: 1530px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    padding-top: 100px;
    padding-left: 160px;
  }
  &__title {
    color: $title;
    @include adaptive-value('font-size', 58, 28, 0);
    line-height: 68px;
    @extend %roboto-700;
    margin-bottom: 40px;
    max-width: 670px;
  }
  &__text {
    margin-bottom: 60px;
    max-width: 470px;
  }
  &__link {
    @extend %btn;
  }
  &__img {
  }
}
